/* Variables CSS */
/* escribir aquí */

:root {
  --primary-color: red;
  --body-color: #292929;
  --box-width: 0;
  --mouse-box-width: 20px;
  --mouse-box-height: 20px;
  --mouse-box-top: 50px;
  --mouse-box-left: 50px;
}

/* Variables SASS */
/* no usar estas */

//$primaryColor: red;
